<!DOCTYPE html>
{% extends 'main.html' %}
{% block content %}
    <html lang="en">
        <h1>{{ chapter.name }}</h1>
        <div>
            <h3>Pictures</h3>
            <a href="{% url 'create-picture' %}">Create picture</a>
            <div>
                {% for picture in pictures %}
                <div>
                    <h5>
                        <span>{{ picture.name }}</span>
                        <img src="{{ picture.img }}" width="120" alt="">
                    </h5>
                    <h6>
                        <a href="{% url 'update-picture' picture.id %}">Edit</a>
                        <a href="{% url 'delete-picture' picture.id %}">Delete</a>
                    </h6>
                </div>
                {% endfor %}
            </div>
        </div>
    </html>
{% endblock %}