<!DOCTYPE html>
{% extends 'main.html' %}
{% block content %}
    <html lang="en">
        <h1>{{ picture.name }}</h1>
        <div>
            <form method="POST" action="" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="text" name="name">
                <br>
                <input type="file" name="image">
                <br>
                <input type="submit" value="submit">
                <a href="{{ request.META.HTTP_REFERER }}">Back</a>
            </form>
        </div>
    </html>
{% endblock %}